Source: idfversionupdater
Section: python
Priority: optional
Maintainer: elee <>
Build-Depends: debhelper (>= 7),
               python (>= 2.6.6-3~)
Standards-Version: 3.9.2
X-Python-Version: >= 2.6


Package: idfversionupdater 
Architecture: all
Section: python
Depends: python-wxgtk2.8, ${misc:Depends}, ${python:Depends}
Description: My program
 And more description here


